* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body{
  font-family:"Indie Flower",serif;
 
 
}

/* .introduction{
  background-color: rgb(105, 27, 27);
}
  */
.outer{
  position:fixed; 
  width: 100vw;
  top:0;
  left:0;
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  background-color:rgba(36, 139, 115, 0.9);
  backdrop-filter:blur(5px);
  height:5rem;
  }

ul{
  display: flex;
 
}

li{
  list-style-type:none;
  font-weight:bold ; 
  padding-left:0.5rem;
  padding-right:1.5rem;
}

a{
  color:black;
  text-decoration: none;
}

h3{
width: 6rem;
margin-left: 0.5rem;
}

.outer2{
display: flex;
justify-content: center;
margin-top:3.5rem;
align-items: center;
/* background-color: white; */

}

#underline {
  font-size: 2.75rem;
  font-weight:lighter;
  position: relative; /* Added */
}

h2::after {
  content: '';
  position: absolute;
  width: 100px;
  height: 4px;
  background-color: rgb(203, 229, 222);
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
}

.pic{
  margin:0 auto;
  display: flex;
  justify-content: center;

}

img{
  width: 25rem; 
  height: 25rem; 
  object-fit: cover;
  border-radius: 70%;
}

.about{
  display: grid;
}

p{
  margin: 0 auto;
  font-weight: 700;
}

.myhandles {
  display:flex;
  justify-content:center;
  font-size: 2.5rem;
  color:rgba(4, 63, 48, 0.678);
}

i{
  padding-right: 2rem;
}

.projectsname{
  display: flex;
  justify-content: center;
  margin-top:3.5rem;
  align-items: center;
}

 #underline2 {
  font-size: 2.75rem;
  font-weight:lighter;
  position: relative; /* Added */
}

h3::after {
  content: '';
  position: absolute;
  width: 100px;
  height: 4px;
  background-color: rgb(203, 229, 222);
  bottom: -9px;
  left: 80%;
  transform: translateX(-50%);
  border-radius: 2px;
} 


.procont{
  display: flex; 
  justify-content: center;
  background-color: black;
  

}

.box{
  flex: none;
  width:15rem;
  height:15rem;
  background-color: red; 
  margin: 2rem;

}

.allskills{
  height: 25rem;
  background-color: rgba(233, 227, 227, 0.9);
}

.skills{
  display: flex;
  justify-content: center;
  margin-top:3.5rem;
  align-items: center;
}

#underline3{
  font-size: 2.75rem;
  font-weight:lighter;
  position: relative; /* Added */
}


h3::after {
  content: '';
  position: absolute;
  width: 100px;
  height: 4px;
  background-color: rgb(203, 229, 222,0.9);
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
} 


.skills2 {
  display:flex;
  justify-content:center;
  font-size: 3.5rem;
  height:20rem;
}


.lam{
  
    display: grid; 
    justify-content: center;
    margin-top:3.5rem;
    align-items: center;
  
  
}

#underline4{
  font-size: 2.75rem;
  font-weight:lighter;
  position: relative; /* Added */
}


h4::after {
  content: '';
  position: absolute;
  width: 100px;
  height: 4px;
  background-color: rgb(203, 229, 222,0.9);
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
} 

footer{
  display: flex;
  justify-content: center;
  background-color: grey;

}

